
{% extends 'base.html' %}


{% block content %}

    <div class="container">
        <h2>Albums</h2>
        <div class="albums-grid">
        <section class="album">
            <h3 class="album-title">Be Happy</h3>
            <div class="album-cover-div">
                {% load static %}
                <img src="{% static 'behappy.jpeg' %}" alt="Album Cover" class="album-cover-img">
            </div>
            <p class="album-description">Release coming soon!</p>
        </section>
        <section class="album">
            <h3 class="album-title">Where to Next?</h3>
            <div class="album-cover-div">
                <img src="{% static 'wheretonext.jpeg' %}" alt="Album Cover" class="album-cover-img">
            </div>
            <div class="album-links">
                <a href="https://music.apple.com/us/album/where-to-next-ep/1440991831" target="_blank" rel="noopener noreferrer" class="album-btn itunes">iTunes</a>
                <a href="https://open.spotify.com/artist/7pQRNcJhvobJgONTDB3iHv?si=zitwHPHPTY6rVn6oY-amwA" target="_blank" rel="noopener noreferrer" class="album-btn spotify">Spotify</a>
            </div>
            <p class="album-description">Released in 2018, this debut album features Evan Krupa's unique blend of jazz, blues, soul music.</p>
        </section>
        </div>
    {% endblock %}