{% extends 'base.html' %}
{% load static %}

{% block content %}


    <footer class="footer">
        <div class="footer-content">&copy; {{ year|default:2025 }} Evan Krupa. All rights reserved.</div>
    </footer>
</body>
{% endblock %}
            <h2 class="summary-title">Evan Krupa</h2>
            <p class="summary-text">Guitarist, Keyboardist, Producer, and Composer.</p>
        </section>
        <section class="music-section" id="music">
            <h3 class="album-title"> New Album 'Be Happy' Coming Soon!</h3>
            <div class="album-cover-div">
                <img src="{% static 'phonto.JPG' %}" alt="Album Cover" class="album-cover-img">
            </div>
            <h2>Latest Tracks</h2>
            <ul class="track-list">
                <li>
                    <span class="track-title">Walk Away</span>
                    <audio class="audio-player" controls>
                        <source src="{% static 'audio/walkaway5.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </li>
                <li>
                    <span class="track-title">Come Back Again</span>
                    <audio class="audio-player" controls>
                        <source src="{% static 'audio/comealive.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </li>
                <li>
                    <span class="track-title">Come Alive</span>
                    <audio class="audio-player" controls>
                        <source src="{% static 'audio/backagain5.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </li>
            </ul>
        </section>
        <div class="social-links">
          <!--  <a href="https://soundcloud.com/" target="_blank" title="SoundCloud">🎵</a>
            <a href="https://spotify.com/" target="_blank" title="Spotify">🟢</a>
            <a href="mailto:your@email.com" title="Email">✉️</a> -->
        </div>
    </div>
</html>
{% endblock %}
