{% extends 'base.html' %}



    {% block content %}
    
    {% load static %}
    <header>
        <div class="title">
        <h1 class="hero-title">Evan Krupa</h1> 
        <p class="sub-title">Musician | Performer | Songwriter</p>
        
       
        </div>
    </header>

    <main>
         <section class="gallery-section">
            
          
            <!--<div class="image-grid">
                <img src="{% static 'closeup.jpeg' %}" alt="Evan playing guitar 1">
                <img src="{% static 'guitarclose.jpeg' %}" alt="Evan playing guitar 2">
                <img src="{% static 'evan3.jpg' %}" alt="Evan playing guitar 3">
            </div>-->
        </section>
        <section class="audio-section">
            <div class="audio-header">
                <img src="{% static 'behappy.jpeg' %}" alt="Be Happy cover" class="audio-cover" />
                <div class="audio-meta">
                    <h2 class="audio-title">New album 'Be Happy' coming soon!</h2>
                    <button class="audio-play-btn" aria-label="Play"><span class="icon" src="{% static 'walkaway10.mp3' %}">▶</span></button>
                    
                </div>
            </div>
            <div class="audio-tracks">
                <div class="audio-track">
                    <div class="track-label">Walk Away</div>
                    <audio controls>
                        <source src="{% static 'audio/walkaway10.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="audio-track">
                    <div class="track-label">Come Alive</div>
                    <audio controls>
                        <source src="{% static 'audio/comealive9.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
                <div class="audio-track">
                    <div class="track-label">Back Again</div>
                    <audio controls>
                        <source src="{% static 'audio/backagain9.mp3' %}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                    
                   
                </div>
                
            </div>
            
        </section>
        

       
    </main>
    




    <footer class="footer">
        <div class="mepic">
                        <!--<img src="{% static 'meface.jpeg' %}" alt="Evan Krupa" class="profile-image">-->
                    </div>
        <div class="footer-content">&copy; {{ year|default:2025 }} Evan Krupa. All rights reserved.</div>
    </footer>
{% endblock %}